# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\UniversitySubjects\3 grade\2 semester\DistributedComputing\courses\concurrent-programming\miniproject_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
